* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #e9f2fb;
    background-image: url();
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    text-align: center;
    transform: scale(0.90);
}

.logo img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.login-card {
    background: #1e293b;
    padding: 30px;
    width: 440px;
    border-radius: 12px;
    font-size: 20px;
    transform: scale(1.25);
    transform-origin: top center;
}
.login-card h2 {
    margin-bottom: 20px;
    color: white;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}

 .eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#role{
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    outline: none;
    cursor: pointer;

    /* Supprimer le style par défaut */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Icône flèche */
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 12px;
    transition: all 0.3s ease;
}

/* Effet focus */
#role:focus {
    border-color: #1e3a8a;
    box-shadow: 0 0 0 3px rgba(30, 58, 138, 0.2);
}

/* Option par défaut */
#role option[value=""] {
    color: #999;
}

/* Hover */
#role:hover {
    border-color: #1e3a8a;
}

.input-group,
#role{
    margin-bottom: 14px;
}
.links {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 15px;
}

.links a {
    text-decoration: none;
    color: #4d9cff;
}

button {
    width: 100%;
    padding: 10px;
    background: #4d9cff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #2f7ae5;
}
